<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736336828016-ju7s1aehmplckf76hujvo9b8imq29va4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736336828016-ju7s1aehmplckf76hujvo9b8imq29va4</string>
	<key>API_KEY</key>
	<string>AIzaSyBZVUPuPmH2mKv-t25wVX_KL-3H9K3MbkA</string>
	<key>GCM_SENDER_ID</key>
	<string>736336828016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumeMaker</string>
	<key>PROJECT_ID</key>
	<string>resumemaker-3624b</string>
	<key>STORAGE_BUCKET</key>
	<string>resumemaker-3624b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736336828016:ios:51d312ae8fe35099d786b5</string>
</dict>
</plist>